.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #867ee374;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Changed from center to stretch */
  justify-content: flex-start; /* Changed to start */
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  padding-top: 60px; /* Add top padding equal to navbar height */
}
.App-main{
  background-color: #e5e5e5;
  color: white;
}
.App-footer {
  background-color: #282c34;
  padding: 1rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Reset default margins and padding */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Ensure full height */
}

/*     --------------------     STYLE FOR NAVBAR     -------------------------    */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
  box-sizing: border-box; /* Include padding and border in width */
  position: fixed; /* Fix the navbar at the top */
  top: 0; /* Position it at the very top */
  left: 0; /* Align to the left */
  z-index: 1000; /* Ensure it stays above other elements */
}
.topnav b{
  color: rgb(212, 16, 16);
  font-size: 40px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block; /* Ensure links take full height */
}
/* Style the links inside the navigation bar */
.topnav a {
  /* float: left; */
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block; /* Ensure links take full height */
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0a025a;
  color: white;
}
/*     --------------------     STYLE FOR NAVBAR     -------------------------    */